.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Studio */
body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
}
:root {
  --logo-button: #4d5ae5;
  --nav-content: #2e2f42;
  --address-list-item: #434455;
  --active-color: #404bbf;
  --content-button: #ffffff;
  --logo-footer: #f4f4fd;
  --text-footer: #e7e9fc;
}
/* Navigation */
.nav-logo > span {
  color: var(--logo-button);
}
.nav-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--nav-content);
  text-decoration: none;
  text-transform: uppercase;
}
.site-nav {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-address {
  list-style: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link {
  text-decoration: none;
  color: var(--nav-content);
}
.address-link {
  text-decoration: none;
  color: var(--address-list-item);
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--active-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--active-color);
}
.address-link:active {
  color: var(--active-color);
}
/* Information */
.main-content-title {
  background: var(--nav-content);
}
.content-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--content-button);
}
.button-service {
  font-family: inherit;
  cursor: pointer;
  background: var(--logo-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: var(--content-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-service:hover,
.button-service:focus {
  background: var(--active-color);
}
/* Categories */
.content-list {
  list-style: none;
}
.content-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-content);
}
.content-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-list-item);
}
.content-service {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--nav-content);
}
.service-list {
  list-style: none;
}
/* Our Team */
.main-content-team {
  background: var(--logo-footer);
}
.content-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--nav-content);
}
.team-list {
  list-style: none;
}
.team-list > .item {
  background: var(--content-button);
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-content);
}
.team-list-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-list-item);
}
/* Additional Information */
.footer {
  background: var(--nav-content);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-footer);
}
.footer-logo > span {
  color: var(--logo-button);
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--logo-footer);
  text-decoration: none;
  text-transform: uppercase;
}

/* Portfolio */

/* Filter */
.portfolio-filter-list {
  list-style: none;
}
.button-filter {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-button);
  border: 1px solid #e7e9fc var(--text-footer);
  border-radius: 4px;
}
.button-filter:hover,
.button-filter:focus {
  background: var(--active-color);
  color: var(--content-button);
}
.button-filter:active {
  background: var(--active-color);
  color: var(--content-button);
}
/* Projects */
.portfolio-project-list {
  list-style: none;
}
.project-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-content);
}
.project-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-list-item);
}
